* {
  box-sizing: border-box;
}
:root {
  --primary-test-color: #171100;
  --backgroud-color: #fffcf4;
  --white-color: #fff;
  --font-heading: sen, sans-serif;
  --second-text-color: #5f5b53;
}
/*Đổi s9ơn vị px sang rem*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /* 1.6rem = 16px tương ứng 62,5% */
  font-family: Poppins, sans-serif;
}
/* common CSS */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Start CSS header section */
.header nav a {
  /* font size */
  font-size: 1.6rem; /*tức là 16px*/
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}
/* Pseudo class Lớp giả tạo hiệu ứng màu khi đưa chuột vào*/
.header nav a:hover {
  color: var(--primary-test-color);
  text-shadow: 1px 0 0 currentColor;
}
.header nav a.active {
  font-weight: 600; /*semi bold*/
  color: var(--primary-test-color);
  position: relative;
}
/*Psuedo element*/
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  display: block;
  background-color: var(--primary-test-color);
  position: absolute;
  top: 23px;
  left: 22px;
}
/* CSS flex box dùng chuyển các phần tử nằm ngang */
.header .body {
  display: flex;
  align-items: center;
}
.header nav {
  display: flex;
  margin-left: auto;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 16px);
}
.btn {
  width: 144px;
  height: 50px;
  background-color: var(--primary-test-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
  line-height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header {
  background-color: var(--backgroud-color);
  padding-top: 44px;
  padding-bottom: 44px;
}
.header .body .btn-sign-up {
  margin-left: 49px;
}
/* End header section */
/* hero section */
.hero {
  background-color: var(--backgroud-color);
}

.hero .main-content {
  display: flex;
}
.hero .left-box {
  width: 48.7%;
  position: relative;
}
.hero .left-box .img .guy-lesson {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.hero .left-box .sumary {
  width: 270px;
  height: 244px;
  background-color: var(--white-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0px;
  bottom: 100px;
}

.hero .left-box .item {
  display: flex;
  margin: 7px 0; /*top and bottom 7px, left and right 0px */
  align-items: center;
}
.hero .left-box span {
  display: block;
}
.hero .left-box .icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.hero .left-box .courses-content span:first-child {
  font-size: 1.4rem;
  line-height: 26px;
}
.hero .left-box .courses-content span:last-child {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}
.hero .left-box .sumary .item:first-child {
  margin-top: 0px;
}
.hero .left-box .sumary .item:first-child {
  margin-bottom: 0px;
}
.hero .right-box {
  width: 51.3%;
  padding-left: 116px;
}
.hero .right-box h1 {
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  width: 490px;
  line-height: 68px;
  letter-spacing: -2%;
  color: var(--primary-test-color);
}
.hero .right-box .desc {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
  margin-top: 28px;
  margin-bottom: 38px;
}
.hero .right-box .call-to-action {
  display: flex;
}
.hero .right-box .bnt-see-courses {
  width: 180px;
  line-height: 64px;
  height: 64px;
  background-color: #ffb900;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}
.hero .right-box .btn-watch-video {
  background: none;
  border: none;
  align-items: center;
  display: flex;
  gap: 12px;
  cursor: pointer;
  margin-left: 28px;
}
.hero .right-box .btn-watch-video span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  margin-top: -10px;
  color: var(--primary-test-color);
}
.hero .right-box .Recent-engagement {
  display: block; /* mỗi dòng 1 dòng */
  margin-top: 48px; /* cách phần trên */
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  color: var(--second-text-color);
}
.hero .right-box .stats {
  margin-top: 16px;
  display: flex; /* 50k Student | 70+ Courses */
  column-gap: 28px; /* khoảng cách giữa 2 cột */
}
.hero .right-box .stats .item strong {
  color: var(--primary-test-color);
  font-size: 3.4rem;
  line-height: 48px;
  font-weight: 700;
  display: block; /* 50k nằm trên */
}

.hero .right-box .stats .item span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: var(--second-text-color);
}
