*. {
  box-sizing: border-box;
}
:root {
  --primary-test-color: #171100;
  --backgroud-color: #fffcf4;
  --white-color: #fff;
}
/*Đổi s9ơn vị px sang rem*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /* 1.6rem = 16px tương ứng 62,5% */
  font-family: Poppins, sans-serif;
}
/* common CSS */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Start CSS header section */
.header nav a {
  /* font size */
  font-size: 1.6rem; /*tức là 16px*/
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}
/* Pseudo class Lớp giả tạo hiệu ứng màu khi đưa chuột vào*/
.header nav a:hover {
  color: var(--primary-test-color);
  text-shadow: 1px 0 0 currentColor;
}
.header nav a.active {
  font-weight: 600; /*semi bold*/
  color: var(--primary-test-color);
  position: relative;
}
/*Psuedo element*/
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  display: block;
  background-color: var(--primary-test-color);
  position: absolute;
  top: 23px;
  left: 22px;
}
/* CSS flex box dùng chuyển các phần tử nằm ngang */
.header .body {
  display: flex;
  align-items: center;
}
.header nav {
  display: flex;
  margin-left: auto;
}
.header .main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 16px);
}
.header {
  background-color: var(--backgroud-color);
  padding-top: 44px;
  padding-bottom: 44px;
}
.header .body .btn-sign-up {
  width: 144px;
  height: 50px;
  background-color: var(--primary-test-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
  line-height: 50px;
  margin-left: 49px;
} /* End header section */
